<% if not user_signed_in? %>
	<div class="row twelve columns">
			<div class="five columns">
				<div style="width:300px;height:325px;" align=center>
					<div id="featured" style="display:none;" align=center>
						<% @extended_profiles.each do |user| %>
							<%= image_tag(user.avatar.url(:medium), :style => "width:300px;height:325px;") %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="seven columns">
				<%= render "devise/registrations/new" %>
			</div>
		</div>
	</div>

<% else %>

	<div class="row">
	    <div class="twelve columns">
	      <%= paginate @extended_profiles %>
	      <% @counter = 0; %>
	       <% @extended_profiles.each do |a| %>
	          <% if @counter == 0 %>
	            <div class="row">
	          <% elsif @counter%3 == 0 %>
	          	</div>
	            <div class="row">
	      	  <% end %>
			  <%= render "extended_profiles/user_photo", :user => a %>
	         <% @counter = @counter + 1 %>
		   <% end %>
		      </div>
	      <%= paginate @extended_profiles %>
	    </div>
		<hr />
    </div>

<% end %>