<div class="row">
      <div class="five columns">
        <% if ExtendedProfile.find_by_user_id(@user.id).avatar? %>
        <%= render "extended_profiles/user_photo", :user => @their_extended_profile %>
        <% end %>
        <div class="panel" style="width:303px">
        <h5 class="subheader">
          name: <%= @their_extended_profile[:first_name] %> <%= @their_extended_profile[:last_name] %><br />
          age: <%= age(@their_extended_profile[:date_of_birth]) %><br />
          birthday: <%= @their_extended_profile[:date_of_birth] %><br />
          phone:  <%= @their_extended_profile[:phone_number] %><br />
          email: <%= @user[:email] %><br />
        </h5>
        <%= link_to '<div class="panel callout radius" align="center"><h6>Send Message</h6></div>'.html_safe, new_user_message_path(@user)%>
        </div>
      </div>
    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="seven columns">
      <h3>About <%= @their_extended_profile[:first_name] %></h3>
      <% if @their_extended_profile[:about] %>
      <p><%= @their_extended_profile[:about] %></p>
      <% end %>
    </div>
  </div>

