<article class="home">
  <section class="home-left">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
        <legend>Sign In</legend>
        <!-- <section class="row form-size"> -->
          <%= f.label :email %>
          <%= f.email_field :email %>
        <!-- </section> -->

        <%= f.label :password %></div>
        <%= f.password_field :password %>
        
        <%= f.label :password_confirmation %></div>
        <%= f.password_field :password_confirmation %>

        <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%>

        <%= f.submit "Sign In", :class => "button" %>

        <section class="bottom-margin"></section>

        <%= render "devise/shared/links" %>

        <section class="bottom-margin"></section>
      </fieldset>
    <% end %>
  </section>
</article>


